.transitions-wrapper {
  position: relative;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}
.right-enter {
  /* z-index: 0; */
  transform: translateX(100%);
}

.right-enter-active {
  /* z-index: 1; */
  transform: translateX(0);
  transition: transform 300ms ease-in-out;
  /* transition-timing-function: ease-in-out; */
}

.right-exit {
  /* z-index: 1; */
  transform: translateX(0);
}

.right-exit-active {
  /* z-index: 0; */
  transform: translateX(-100%);
  transition: transform 300ms ease-in-out;
  /* transition-timing-function: ease-in-out; */
}

.left-enter {
  /* z-index: 0; */
  transform: translateX(-100%);
}

.left-enter-active {
  /* z-index: 1; */
  transform: translateX(0);
  transition: transform 300ms ease-in-out;
  /* transition-timing-function: ease-in-out; */
}

.left-exit {
  /* z-index: 1; */
  transform: translateX(0);
}

.left-exit-active {
  /* z-index: 0; */
  transform: translateX(100%);
  transition: transform 300ms ease-in-out;
  /* transition-timing-function: ease-in-out; */
}
