a {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
.container {
  width: 960px;
  margin: 0 auto;
}
.inner-container {
  position: relative;
  margin: 0 20px;
}
@media (max-width: 1000px) {
  .container {
    width: 100%;
    min-width: 300px;
  }
}

/*헤더*/ /*헤더*/ /*헤더*/ /*헤더*/ /*헤더*/ /*헤더*/ /*헤더*/ /*헤더*/
/*헤더*/ /*헤더*/ /*헤더*/ /*헤더*/ /*헤더*/ /*헤더*/ /*헤더*/ /*헤더*/
.header {
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  backdrop-filter: saturate(100%) blur(20px);
  z-index: 5;
}
.header-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header-title {
  color: white;
}
.header-link {
  color: white;
  display: flex;
  grid-template-columns: 1fr 1fr;
  column-gap: 50px;
  padding: 18px 0px;
  align-items: center;
}

/* section-0 */ /* section-0 */ /* section-0 */ /* section-0 */
/* section-0 */ /* section-0 */ /* section-0 */ /* section-0 */
#scroll-section-0 {
  width: 100%;
  background-image: url(../../../public/images/title-small.png);
  background-repeat: no-repeat;
  background-position-x: center;
  background-attachment: fixed;
  background-size: cover;
  padding-top: 50vh;
}

#scroll-section-0 h1 {
  position: relative;
  z-index: 2;
  font-size: 56px;
  line-height: 64px;
  text-align: left;
  color: white;
  font-weight: 700;
}

/*데스크톱*/
@media screen and (min-width: 1000px) {
  #scroll-section-0 {
    background-image: url(../../../public/images/title-big-new.png);
    background-position-y: 52px;
    background-size: cover;
    background-color: #121212;
    display: flex;
    flex-direction: column;
    padding-top: 40vh;
  }
  #scroll-section-0 h1 {
    font-size: 72px;
    line-height: 85px;
    position: relative;
    top: -0.5vh;
    z-index: 2;
    text-align: left;
    margin-left: 150px;
    color: white;
  }
}

.sticky-elem {
  display: none;
  position: fixed;
  left: 0;
  width: 100%;
  box-sizing: border-box;
}

.performance-info {
  margin-left: 20px;
  opacity: 0;
  display: flex;
  align-items: center;
  height: 3em;
  font-size: 16px;
  color: white;

  font-weight: 500;
  text-align: left;
  line-height: 28px;
}

.performance-info.a {
  top: 40vh;
}
.performance-info.b {
  top: 50vh;
}
.performance-info.c {
  top: 60vh;
}

.br:after {
  content: '\n';
}

/*데스크톱*/
@media screen and (min-width: 1000px) {
  .performance-info {
    margin-left: 0px;
    font-size: 19px;
    color: white;

    text-align: center;
  }

  .performance-info.a {
    top: 30vh;
  }
  .performance-info.b {
    top: 42vh;
  }
  .performance-info.c {
    top: 54vh;
  }
}

/* section-1 */ /* section-1 */ /* section-1 */ /* section-1 */
/* section-1 */ /* section-1 */ /* section-1 */ /* section-1 */
#scroll-section-1 {
  width: 100%;

  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #121212;
  color: white;
  justify-content: space-between;
  align-items: center;
  margin: 3 3rem;
}

.banner {
  /* background-image: url(./images/banner-1st.png); */
  background-color: #464646;
  height: 260px;
  width: 100%;
  background-size: cover;
  background-position-y: -1270px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#scroll-section-1 h2 {
  z-index: 2;
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  color: white;
  line-height: 58px;
}

/*데스크톱*/
@media screen and (min-width: 1000px) {
  .banner {
    height: 300px;
  }
  #scroll-section-1 h2 {
    font-size: 48px;
  }
}

.poster {
  width: 500px;
  margin-top: 100px;
}
.map {
  width: 500px;
  margin: auto;
  object-fit: contain;
}

/* section-2 */ /* section-2 */ /* section-2 */ /* section-2 */ /* section-2 */ /* section-2 */ /* section-2 */ /* section-2 */ /* section-2 */
.m-image-0 {
  width: 212px;
  height: 430px;
}

#scroll-section-2 {
  width: 100%;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #121212;
  color: white;
  padding-top: 100px;
  gap: 50px;
}

#scroll-section-2 h1 {
  font-size: 36px;
  line-height: 48px;
  font-weight: 700;
  /* max-width: 70%; */
}
#scroll-section-2 p {
  padding-top: 20px;
  font-size: 17px;
  line-height: 20px;
  font-weight: 300;
}
@media (min-width: 1024px) {
  #scroll-section-2 {
    flex-direction: row-reverse;
    padding-left: 3%;
  }
  .m-message-0 {
    transform: translateY(-70%);
  }
  #scroll-section-2 h1 {
    font-size: 56px;
    line-height: 70px;
    font-weight: 700;
    /* max-width: 70%; */
  }
  #scroll-section-2 p {
    padding-top: 20px;
    font-size: 19px;
    line-height: 24px;
    font-weight: 300;
  }
  .m-image-0 {
    width: 353px;
    height: 700px;
  }
}

/* section-3 */ /* section-3 */ /* section-3 */ /* section-3 */ /* section-3 */ /* section-3 */ /* section-3 */
.m-image-1 {
  width: 212px;
  height: 430px;
}

#scroll-section-3 {
  width: 100%;

  display: flex;
  flex-direction: column;
  flex: wrap;
  justify-content: center;
  align-items: center;
  background-color: #121212;
  color: white;
  font-size: 3rem;
  padding-top: 100px;

  gap: 50px;
}

#scroll-section-3 h1 {
  font-size: 36px;
  line-height: 48px;
  font-weight: 700;
  /* max-width: 70%; */
}
#scroll-section-3 p {
  padding-top: 20px;
  font-size: 17px;
  line-height: 20px;
  font-weight: 300;
}
.with {
  margin-top: 15rem;
}

@media (min-width: 1024px) {
  #scroll-section-3 {
    flex-direction: row;
    margin-top: -15%;
    padding-right: 3%;
  }
  .m-message-1 {
    transform: translateY(40%);
  }
  #scroll-section-3 h1 {
    font-size: 56px;

    line-height: 70px;
    font-weight: 700;
    padding-bottom: 20px;

    /* max-width: 70%; */
  }
  #scroll-section-3 p {
    padding-top: 10px;

    font-size: 19px;
    font-weight: 300;

    line-height: 24px;
  }
  .m-image-1 {
    width: 353px;
    height: 700px;
  }
}

/* section-4 */ /* section-4 */ /* section-4 */ /* section-4 */ /* section-4 */ /* section-4 */ /* section-4 */ /* section-4 */
#scroll-section-4 {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #121212;
  margin: auto;
}
.guide {
  padding-left: 5%;
  list-style: inside;
  background-color: #121212;
  color: #bf94e4;
  position: relative;
}

.guide.h1 {
  font-size: 1rem;
}
.guide li {
  text-indent: -20px;
  padding-left: 20px;
  align-items: center;
  justify-content: left;
  max-width: 87%;
}
.guide ul {
  margin-top: 1rem;
  margin-bottom: 3rem;
}
.book-image {
  position: relative;
  margin-top: 5rem;
  bottom: 0;
}

.footer {
  padding-top: 10%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 12rem;
  color: #bf94e4;
  background: #121212;
  margin: 1 0rem;
}
.icon {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 30%;
}

#show-scene-0 #scroll-section-0 .sticky-elem,
#show-scene-1 #scroll-section-1 .sticky-elem,
#show-scene-2 #scroll-section-2 .sticky-elem,
#show-scene-3
  #scroll-section-3
  .sticky-elem
  #show-scene-3
  #scroll-section-4
  .sticky-elem {
  display: block;
}

/*---------------------------------------------         pc화면 적용         ----------------------------------------------------*/
@media (min-width: 1024px) {
  .footer {
    margin-top: 0;
  }
}
