body {
  background-color: #040404;
}
.body-wrap {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  height: 100%;
  min-height: 660px;
  width: 100%;
  min-width: 370px;
  max-width: 600px;
  background-color: #121212;
  margin: 0 auto;
}

.inner-container {
  height: calc(100% - 80px);
  margin: 40px;
}

@media screen and (min-width: 480px) {
  .container {
    border-radius: 15px;
    height: 90%;
    margin: 0 200px;
  }
}
